/* Add margins to paragraphs - without this texts quickly become a long word salad */
article p {
  margin: 1rem 0;
}

/* Add padding-bottom for nicer cushion towards footer */
article:last-child {
  padding-bottom: 4rem;
}

/* underline footer link to Open Education Austria */
.md-copyright a { 
  text-decoration: underline;
}

/* add more padding to footer */
.md-footer-meta__inner {
  padding: 0.5rem;
}